PORT=""
NODE_ENV=development
MONGO_URI=""

JWT_SECRET="your_jwt_secret"
JWT_REFRESH_SECRET="your_refresh_secret"
JWT_ACCESS_EXPIRES_IN=""
JWT_REFRESH_EXPIRES_IN=""

GEMINI_API_KEY=""
GEMINI_MODEL=""

CLOUDINARY_API_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_URL=""

BACKEND_URL=""
CLIENT_URL=""
